<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Form</title>
</head>
<body>
    <form method="post">
        <input type="text" name="name"/>

        <select name="CategoryId">
            <option value="">Select Category</option>
            <% for(let cat of categories) { %>
                <option value="<%= cat.CategoryId %>"><%= cat.name %></option>
            <% } %>
        </select>

        <input name="Image" type="file" />
    </form>
</body>
</html>