body {
	margin: 0;
}

.grid {
	display: grid;
	place-items: center;
}

.table,
th,
td {
	margin: 0;
	padding: 0 20px;
	border: solid;
	border-collapse: collapse;
	text-align: center;
	border-radius: 20px;
}

.button {
	background: #007bff;
	padding: 10px 20px;
	margin-top: 10px;
	color: white;
	text-decoration: none;
	border-radius: 100vw ;
}